@media screen and (max-width:576px) {
      header{
        margin: 0px 20px;
      }

    .nav-bar{
     height: 38px;
     

    }
    .nav-img{
        max-width: 63px;
        max-height: 38px;
    }
    
     .nav-link1{
        display: none;
    }
    .link2{
        display: none;
    }
    
    .banner{
        flex-direction: column-reverse;
        max-height: fit-content;
        margin-top: 28px;
    }
    .banner-details{
        margin: 28px 16px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
}
.section-description{
    font-size: .875rem;
    
}
.plants{
    margin: 0px 20px;
}
.plants-details{

    margin-top: 65px;
}
.plants-heading{
    font-size: 1.5rem;
}
.card-head{
    font-size: 1rem;
    
}
.card-price{
    font-size: 1rem;
    margin-bottom: 30px;
}
.btn-primary{
    padding: 15px;
}
.plants-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   align-items: center;
   justify-content: center;
}

.plant-lover{
   flex-direction: column;
   margin-top: 40px;
   /* max-height:648px ; */
   gap: 0px;
   align-items: center;
   justify-content: center;
   margin: 0 20px;
}
.icon{
    display: none;
}
.flower-img{
    width: 100%;
   margin-bottom: 0px;
   
}
.plant-lover-details{
    margin-top:0px;
    padding: 0px 0px;
}
.plant-lover-heading{
    font-size: 1.5rem;
    
}
.join-section{
    margin: 0px 20px;
}
.join-section-heading{
    font-size: 1.5rem;
}

.join-section-card{
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    
}
.card-section-heading{
    padding: 0px;
    margin-top: 65px;
}
.card-section-heading1{
    
    font-size: 1.25rem;
    color: #FFFFFF;
    margin:65px 0px 25px 0px;
}
.card-section-link1{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 50px 26px;
    
}
#card-section2{
    border-radius: 0px;
}
.bunch{
    margin-top: 40px;
    height: 100%;
}

.bunch-details{
    
    margin:50px 30px 100px 30px;
    
    text-align: center;
    align-items: center;
}
.bunch-heading{
     font-weight: bold;
    font-size: 1.25rem;
   
   
}
.input{
    display: flex;
    margin-top: 5px;
}
.email{
    padding: 10px 5px;
}
    .submit{
        padding: 10px 5px;
    }
.footer{
flex-direction: column;
padding: 0px;
margin: 50px 20px;
align-items: start;

}
.links{
    
   padding-left: 0px;
   margin: 0px 0px;
}
.footer-log img{
    width: 50%;
    gap: 16px;
    
}
.link-img{
    margin-left: 1px;
    width: 10%;
    margin-right: 20px;
}

}